{% extends "index.html" %}

{% block title %}{{ SITENAME }} - Categoría {{ category }}{% endblock %}

{% block content_title %}
<div class="container-fluid">
    <h2 class="p-3">Artículos en la categoría {{ category }}</h2>
</div>
{% endblock %}

