<footer class="blog-footer text-center">
    <div class="container">
        <div class="row">
            <div class="col-4 text-left">
                {% if SOCIAL %}
                    <h4 class="font-italic">Social</h4>
                    <ol class="list-unstyled">
                        {% for name, link in SOCIAL %}
                            <li class=""><a class="text-secondary" href="{{ link }}">{{ name }}</a></li>
                        {% endfor %}
                    </ol>
                {% endif %}
            </div>
            <div class="col-4 text-center">
                <p>
                    Plantilla HackLab por <strong>{{AUTHOR}}</strong>
                </p>
                <p>
                    <a class="text-secondary" href="#">Ir Arriba</a>
                </p>
            </div>
            <div class="col-4 text-right">
                {% if LINKS %}
                    <h4 class="font-italic">{{ LINKS_WIDGET_NAME | default('Recursos') }}</h4>
                    <ol class="list-unstyled">
                        {% for name, link in LINKS %}
                            <li class="">
                                <a class="text-secondary" href="{{ link }}"}>{{ name }}</a>
                            </li>
                        {% endfor %}
                    </ol>
                {% endif %}
            </div>
        </div>
    </div>
</footer>
