{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
    {% if articles %}
        {% for article in articles_page.object_list %}
            {# First item #}
            {# {% if loop.first and not articles_page.has_previous() %} #}
            {% if False %}
                <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
                    <div class="col-md-6 px-0">
                        <h1 class="display-4 font-italic">{{article.title}}</h1>
                        <p class="lead my-3">{{article.summary}}</p>
                        <p class="lead mb-0"><a href="{{ SITEURL }}/{{ article.url }}" class="text-white font-weight-bold">Continuar leyendo...</a></p>
                        {# include 'article_infos.html'  include 'comments.html' #}
                    </div>
                </div>
                <main>
                    <div class="row">
                        <div class="col-md-8 blog-main">
                            {% if loop.length > 1 %}
                                <h3 class="pb-4 mb-4 font-italic shadow-sm">
                                    Otros artículos
                                </h3>
                            {% endif %}
            {# Other items #}
            {% else %}
                {% if loop.first %}
                    <main class="alone">
                        <div class="row">
                            <div class="col-md-8 blog-main">
                {% endif %}
                <div class="blog-post shadow">
                    <div class="card-body">
                        <h2 class="card-title blog-post-title">
                            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                                title="Enlace permanente a {{article.title|striptags}}">
                                {{article.title}}
                            </a>
                            <i class="fa">&#x1f517;</i>
                        </h2>
                        {% include "article_infos.html" %}
                        <p class="card-text">
                            {{ article.summary }}
                        </p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <div class="text-center p-2 shadow-sm">
            {% if articles_page.has_other_pages() %}
                {% include 'pagination.html' %}
            {% endif %}
        </div>
                            </div><!--/.col-md blog-main -->
                            <aside class="col-md-4 blog-sidebar">
                                {% include "sidebar.html" %}
                            </aside>
                        </div>
                    </main>

    {% else %}
        <section class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
            <h2>Pages</h2>
            {% for page in pages %}
                <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        </section>
    {% endif %}
{% endblock content %}
