<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light static-top shadow mb-2">
    <div class="container">
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mr-auto border-bottom navbar-center mx-auto">
            {% for title, link in MENUITEMS %}
                <li class="nav-item {% if page is not defined and title == 'Home' and category != 'Blog' or page == link %}active{% endif %}">
                    <a class="nav-link" href="{{link}}">{{title}}</a>
                </li>
            {% endfor %}
            {% if DISPLAY_PAGES_ON_MENU -%}
                {% for pg in pages %}
                <li class="nav-item {% if pg == page %}active{% endif %}">
                    <a class="nav-link" href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a>
                </li>
                {% endfor %}
            {% endif %}
            {% if DISPLAY_CATEGORIES_ON_MENU -%}
                {% for cat, null in categories %}
                <li class="nav-item {% if cat == category %}active{% endif %}">
                    <a class="nav-link" href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
                </li>
                {% endfor %}
            {% endif %}
            </ul>
        </div>
    </div>
</nav>
