{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ page.title }}{%endblock%}

{% block content %}
<div class="stpage">
    <div class="text-justify">
        {{ page.content }}
    </div>

    {% if page.modified %}
        <p>
        Última actualización: {{ page.locale_modified }}
        </p>
    {% endif %}
</div>
{% endblock %}
