{% if DEFAULT_PAGINATION %}
<nav class="blog-pagination row"}>
    <div class="col-md-4">
    {% if articles_page.has_previous() %}
        <a class="btn btn-outline-secondary" href="{{ SITEURL }}/{{ articles_previous_page.url }}">&laquo;</a>
    {% endif %}
    </div>
    <div class="col-md-4">
    <p class="text-dark">Page {{ articles_page.number  }} / {{ articles_paginator.num_pages  }}</p>
    </div>
    <div class="col-md-4">
    {% if articles_page.has_next() %}
        <a class="btn btn-outline-secondary" href="{{ SITEURL }}/{{ articles_next_page.url }}">&raquo;</a>
    {% endif %}
    </div>
</nav>
{% endif %}
