{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Archivos {{ period | reverse | join(' ') }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-8">
        <div class="bg-dark rounded p-3 mb-3">
            <h3 class="text-center text-white">Archivos para {{ period | reverse | join(' ') }}</h3>
        </div>
        <dl class="list-group pb-2 ">
            {% for article in dates %}
                <dt class="list-group-item-dark pl-2 rounded-top">{{ article.locale_date }}</dt>
                <dd class="list-group-item pb-2 rounded-bottom"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
            {% endfor %}
        </dl>
    </div>
    <aside class="col-sm-4 blog-sidebar">
        {% include 'sidebar.html' %}
    </aside>
</div>
{% endblock %}
