{% if tag_cloud %}
<div class="p-4 shadow text-center">
    <h4 class="font-italic">Tags</h4>
    <ul class="tagcloud">
        {% for tag in tag_cloud %}
            <li class="tag-{{ tag.1 }} tagcloud-item">
                <a href="{{ SITEURL }}/{{ tag.0.url }}" class="text-dark">
                {{ tag.0 }}
                    {% if TAG_CLOUD_BADGE %}
                        <span class="badge badge-secondary badge-pill">{{ tag.2 }}</span>
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
