{% extends "index.html" %}

{% block title %}{{ SITENAME }} - {{ tag }} tag{% endblock %}

{% block content_title %}
<div class="container">
    <h2>Artículos etiquetados con {{ tag }}</h2>
</div>
{% endblock %}
