{% if article.tags %}
    <p>tags: {% for tag in article.tags %}
        <a class="card-link text-secondary" href="{{ SITEURL }}/{{ tag.url }}">{{ tag | escape }}</a>
            {% endfor %}</p>
{% endif %}

