{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Tags{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-8">
        <div class="bg-dark rounded p-3 mb-3">
            <h3 class="text-center text-white">Tags para {{ SITENAME }}</h3>
        </div>
        <ul class="list-group">
        {% for tag, articles in tags|sort %}
            <li class="list-group-item"><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>
        {% endfor %}
        </ul>
    </div>
    <aside class="col-sm-4 blog-sidebar">
        {% include 'sidebar.html' %}
    </aside>
</div>
{% endblock %}
